.footer-container{
    height: 147px;
    background-color: #f5f5f5;
    margin-left: 260px;
}

.footer-line{
    border: 2px solid rgba(0, 0, 0, 0.068);
    width: 80%;
    margin: 0 auto auto;
}

.footer-list{
    display: flex;
    width: 90%;
    margin: 0px auto auto;
    padding-top: 6px;
    justify-content: space-around;
}

.footer-content{
    width: 20%;
}

.footer-content h3{
    text-align: center;
}

.footer-contact-list,
.footer-list,
.footer-follow-list{
    list-style-type: none;
}

.footer-follow-list{
    display: flex;
    justify-content: center;
}